body {
    background-image: url(/abstract-5035778_960_720.webp);
    background-size: auto;
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2.center{
    text-align: center;

}
